/* ALL */
body {
    background: green;
    margin:0;
}

main {
    background: white;
    width: 920px;
    padding: 10px;
    margin: 0 auto;
}

main > section {
    clear: both;
}

main > section > article {
    float:left;
    margin: 10px;
    outline: 1px solid black;
}

main > section > article.half {
    width: 440px;
}
main > section > article.quarter {
    width: 210px;
}

main > footer {
    clear: both;
}

* {
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

/* TABLET */
@media only screen and (max-width: 960px) {
    body {
        background: yellow;
    }
    main {
        width: 680px;
    }
    main > section > article.half {
        width: 320px;
    }
    main > section > article.quarter {
        width: 320px;
    }
}

/* SMARTPHONE */
@media only screen and (max-width: 720px) {
    body {
        background: red;
        margin:0;
    }
    main {
        width: calc(100% - 20px);
        padding: 10px;
    }
    main > section > article.half {
        width: calc(100% - 20px);
    }
    main > section > article.quarter {
        width: calc(50% - 20px);
    }
}